bitsandbytes
transformers @ git+https://github.com/huggingface/transformers.git
peft @ git+https://github.com/huggingface/peft.git
accelerate @ git+https://github.com/huggingface/accelerate.git
einops
safetensors
torch
xformers
langchain
ctransformers[cuda]
chromadb
sentence-transformers
transformer_lens
livelossplot
transformer_lens
circuitsvis
plotly
pandas
nbformat